<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Celestial Exchange</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/fc97a1b33d.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <div class="wrapper">
            <a href="/">
                <div class="logo">
                    <img src="/images/logo.png" alt="Logo">
                </div>
            </a>
        </div>

        
        <ul class="Nav-Bar">
            <li> <a href="/"> Home </a></li>
            <li> <a href="/items"> Planets </a></li>
            <li> <a href="/items/new"> Create a new Planet </a></li>
            <li> <a href="/login"> Login </a></li>
            <li> <a href="/singup"> Sign Up </a></li>
        </ul>
        
        <form class="search-form">
            <input type="text" name="search" placeholder="Search...">
            <button class ="search-btn" type="submit">SEARCH</button>
        </form>
    </header>