<%- include('../partials/sell-header.ejs')%>

<main class="content">
    <div class="welcome-text">
        <h1>Search not found</h1>
        <p>No results found for: <%= search %></p>
    </div>
</main>

<%- include('../partials/footer.ejs')%>
