<%- include('./partials/sell-header.ejs')%>


<main class="content">
    <div class="welcome-text">
        <h1><%= error.status%></h1>
        <p><%= error.message%></p>
        
    </div>
</main>

<%- include('./partials/footer.ejs')%>