<%- include('./partials/sell-header.ejs')%>


    <main class="content">
        <div class="welcome-text">
            <h1>The Celestial Exchange</h1>
            <p>Welcome to Celestial Exchange, your premier destination for planetary transactions in the era of unlocked space travel. As pioneers in the cosmic marketplace, we specialize in the acquisition and sale of celestial bodies, providing a seamless experience for those venturing beyond our home planet. </p>
            <a href="/items">Browse</a>
            <a href="/items/new">Sell</a>
        </div>
    </main>
    
<%- include('./partials/footer.ejs')%>